@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500;700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    background-image: linear-gradient(to bottom, #FC86C1, #F6AAB8);
    
    
}
.header img {
    margin-top: 3em;
}
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.contain__header {

    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1.3em;
    margin-top: 3em;
    text-align: center;
}

.texto {
    font-size: 1.2em;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    color: rgb(255, 255, 255);

}

a {
    text-decoration: none;
}





