.lista-de-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    margin-top: 3em;
    
}



.links {

    background-color:#FFC0CB ;
    width: 24em;
    height: 4em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    font-family: "Poppins", sans-serif;
    border-radius: 1em;
    gap: 1em;
    padding: 0.5em 1em ;
}
a {
    
    font-size: 1.3em;
    font-weight: 600;
    color: aliceblue;
}

.margemF {
    margin-bottom: 2em;
}